<section class="user_info">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
  <div>
    <%= link_to 'following', followings_user_path %>
    <br>
    <%= link_to 'follower', followers_user_path %>
  </div>
</section>